name: "Build, Analyze and Test"

on: [ push, pull_request ]

# Declare default permissions as read only.
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: "temurin"
          java-version: 25
          cache: "maven"

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "latest"
          cache: "npm"
          cache-dependency-path: app/package-lock.json

      - name: Dependency Review
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@05fe4576374b728f0c523d6a13d64c25081e0803 # v4.8.3

      - name: Collect dependencies
        run: |
          ./mvnw dependency:go-offline --batch-mode
          ./mvnw verify --fail-never --batch-mode -DskipTests
          ./mvnw dependency:resolve-sources dependency:resolve -Dclassifier=javadoc --batch-mode

      - name: Build
        run: ./mvnw clean install --batch-mode -DskipTests

      - name: Test
        run: ./mvnw test --batch-mode

      - name: Build frontend
        run: |
          cd app
          npm ci
          npm run build

  analyze:
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: "temurin"
          java-version: 25

      - name: Initialize CodeQL
        uses: github/codeql-action/init@19b2f06db2b6f5108140aeb04014ef02b648f789 # v4.31.11
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@19b2f06db2b6f5108140aeb04014ef02b648f789 # v4.31.11

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@19b2f06db2b6f5108140aeb04014ef02b648f789 # v4.31.11
        with:
          category: "/language:java"

      - name: Submit Dependency Snapshot
        uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8 # v5
