name: "Build, Analyze and Test"

on: [ push, pull_request ]

# Declare default permissions as read only.
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: "temurin"
          java-version: 21
          cache: "maven"

      - uses: actions/setup-node@1f3c6957a35eafad3159815f5d1d9a4750f2c21b # v4
        with:
          node-version: "latest"
          cache: "npm"
          cache-dependency-path: app/package-lock.json

      - name: Dependency Review
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2

      - name: Collect dependencies
        run: |
          ./mvnw dependency:go-offline --batch-mode
          ./mvnw verify --fail-never --batch-mode -DskipTests
          ./mvnw dependency:resolve-sources dependency:resolve -Dclassifier=javadoc --batch-mode

      - name: Build
        run: ./mvnw clean install --batch-mode -DskipTests

      - name: Test
        run: ./mvnw test --batch-mode

      - name: Build frontend
        run: |
          cd app
          npm ci
          npm run build

  analyze:
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: "temurin"
          java-version: 21

      - name: Initialize CodeQL
        uses: github/codeql-action/init@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
          languages: java

      - name: Autobuild
        uses: github/codeql-action/autobuild@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        with:
          category: "/language:java"

      - name: Submit Dependency Snapshot
        uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8 # v5
